* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #ffffff;
  color: #1f2937;
  padding-top: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.123);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 17px;
}

.logo-icon {
  background-color: #2563eb;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #4b5563;
  font-weight: 500;
  font-size: 15px;
  transition: color 0.3s;
}

nav a:hover {
  color: #2563eb;
}

.section-principal {
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  min-height: 500px;
  gap: 50px;
}

.content-left {
  flex: 1;
  max-width: 600px;
}

h1 {
  font-size: 43px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #111827;
}

p {
  font-size: 15px;
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 18px;
  height: 55px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s;
}

.btn-primary:hover {
  background-color: #1d4ed8;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px -5px rgba(37, 99, 235, 0.4);
}

.content-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-principal {
  max-width: 100%;
  height: auto;
  border-radius: 24px;
  box-shadow: 0 20px 40px -10px rgba(37, 100, 235, 0.25);
}

.features-section {
  padding: 80px 10%;
  background-color: #ffffff;
  text-align: center;
}

.section-header h2 {
  font-size: 32px;
  color: #111827;
  margin-bottom: 10px;
}

.section-header p {
  color: #6b7280;
  margin-bottom: 50px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 30px;
  flex: 1;
  min-width: 280px;
  text-align: left;
  transition:
    transform 0.4s ease-out,
    box-shadow 0.4s ease-out,
    border-color 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow:
    0 25px 30px -5px rgba(0, 0, 0, 0.1),
    0 15px 15px -5px rgba(0, 0, 0, 0.05);
  border-color: #d1d5db;
}

.icon-box {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  transition: transform 0.4s ease-out;
}

.card:hover .icon-box {
  transform: translateY(-5px) scale(1.05);
}

.icon-blue {
  background-color: #2563eb;
}
.icon-green {
  background-color: #10b981;
}
.icon-purple {
  background-color: #a855f7;
}

.card h3 {
  font-size: 17px;
  color: #111827;
  margin-bottom: 15px;
}

.card .description {
  font-size: 15px;
  color: #4b5563;
  line-height: 1.5;
  margin-bottom: 20px;
}

.feature-list {
  list-style: none;
}

.feature-list li {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.card-html::before {
  content: "•";
  color: #2563eb;
  font-weight: bold;
  font-size: 20px;
  line-height: 0;
  margin-right: 10px;
}

.card-css::before {
  content: "•";
  color: #00c950;
  font-weight: bold;
  font-size: 20px;
  line-height: 0;
  margin-right: 10px;
}

.card-desing::before {
  content: "•";
  color: #9810fa;
  font-weight: bold;
  font-size: 20px;
  line-height: 0;
  margin-right: 10px;
}

.pricing-section {
  padding: 80px 10%;
  background-color: #f9fafb;
  text-align: center;
}

.table-wrapper {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  overflow-x: auto;
  border: 1px solid #e5e7eb;
  background: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  min-width: 600px;
}

thead {
  background-color: #0f172a;
  color: white;
}

th,
td {
  padding: 20px 30px;
}

td {
  border-bottom: 1px solid #f3f4f6;
  color: #1f2937;
  transition: background-color 0.3s;
}

tr:last-child td {
  border-bottom: none;
}

tbody tr:hover td {
  background-color: #f9fafb;
}

.row-highlight {
  background-color: #e0eaf7;
}

.row-highlight:hover td {
  background-color: #dae8fa;
}

.plan-name {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.plan-sub,
.period {
  font-size: 14px;
  color: #6b7280;
  margin-top: 4px;
}
.price {
  font-size: 18px;
  font-weight: 700;
  color: #111827;
}
.badge {
  background-color: #2563eb;
  color: white;
  font-size: 14px;
  padding: 2px 8px;
  border-radius: 20px;
  font-weight: 600;
}

.btn-outline {
  background: transparent;
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-outline:hover {
  background-color: #eff6ff;
}

.btn-solid {
  background-color: #2563eb;
  border: 1px solid #2563eb;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition:
    transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
    background-color 0.3s,
    box-shadow 0.3s;
}

.btn-solid:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px -3px rgba(37, 99, 235, 0.4);
  background-color: #1d4ed8;
}

.testimonials-section {
  padding: 80px 10%;
  background-color: #ffffff;
  text-align: center;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  text-align: left;
}

.testimonial-card {
  background: #F9FAFB;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 30px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.1);
  border-color: #d1d5db;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 17px;
}
.avatar-blue {
  background-color: #2563eb;
}
.avatar-green {
  background-color: #10b981;
}

.user-info h4 {
  font-size: 17px;
  color: #111827;
  margin-bottom: 2px;
}
.user-info span {
  font-size: 14px;
  color: #6b7280;
  font-weight: 500;
}
.quote-icon {
  width: 40px;
  height: 40px;
  min-width: 40px; 
  margin-bottom: 0; 
  opacity: 0.3;
}

.quote-icon path {
  fill: currentColor; 
}

.icon-blue-text {
  color: #2563eb;
}

.icon-green-text {
  color: #10b981;
}

.card-body {
  display: flex;
  align-items: flex-start; 
  gap: 20px;
}

.card-body p {
  font-size: 15px;
  line-height: 1.6;
  color: #4b5563;
}

.contact-section {
  padding: 80px 10%;
  background-color: #fefefe;
  text-align: center;
  padding-bottom: 120px;
}

.contact-card {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 40px;
  text-align: left;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.089);
}

.form-group {
  margin-bottom: 25px;
}
label {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #374151;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
  color: #1f2937;
  background-color: #f9fafb;
  font-family: "Poppins", sans-serif;
  outline: none;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

input:focus,
textarea:focus {
  border-color: #2563eb;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.1);
}

textarea {
  resize: vertical;
  min-height: 120px;
}
.contact-card .btn-primary {
  margin-top: 10px;
  width: 40%;
  padding: 12px;
}

footer {
  background-color: #0f172a;
  color: #9ca3af;
  padding: 40px 10%;
  font-size: 13px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links {
  display: flex;
  gap: 30px;
}
.footer-links a {
  text-decoration: none;
  color: #9ca3af;
  transition: color 0.3s;
}
.footer-links a:hover {
  color: #fff;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.section-principal .content-left h1,
.section-principal .content-left p,
.section-principal .content-left .btn-primary {
  opacity: 0; 
  animation: fadeInUp 0.8s ease-out forwards;
}

.section-principal .content-left .btn-primary 
{
  opacity: 1;
  animation: fadeInUp 0.8s ease-out backwards;
}

.section-principal .content-left h1 {
  animation-delay: 0.2s;
}

.section-principal .content-left p {
  animation-delay: 0.4s;
}

.section-principal .content-left .btn-primary {
  animation-delay: 0.6s;
}


@media (max-width: 768px) {
  header {
    height: auto;
    flex-direction: column;
    padding: 15px 5%;
    gap: 15px;
    position: relative;
  }

  body {
    padding-top: 0;
  }

  nav ul {
    gap: 15px;
    font-size: 13px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-principal {
    flex-direction: column-reverse;
    text-align: center;
    padding: 40px 5%;
    justify-content: center;
  }

  .content-left {
    width: 100%;
  }
  h1 {
    font-size: 33px;
  }

  .footer-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 15px;
  }
}
